@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;

.client-form {
  max-width: 500px;
  margin: auto;
  @include m-padding;
  @include tablet{
    @include t-padding;
  }

  &__header{
    display: flex;
    flex-direction: row;
  }

  &__back-btn{
    background-color: transparent;
    border: none;
    margin-right: 16px;
  }
    &__title {
      margin-bottom: 20px; 
      text-align: center;
    }
  
    &__form {
      display: flex;
      flex-direction: column;
      gap: 15px; 
      width: 100%; 
      max-width: 500px; 
      margin: auto; 
    }
  
    &__field {
      display: flex;
      flex-direction: column;
      gap: 5px; 
    }
  
    &__label {
      @include m-h3;
    }
  
    &__input {
      padding: 10px; 
      border: 1px solid #ccc; 
      border-radius: 4px; 
  
      &:focus {
        border-color: $brown; 
      }
    }
  
    &__submit-btn {
      @include m-main-button;
    }

    &__validation-message{
      color: red; 
      font-size: 12px;
      margin-top: 4px;
    }
  }
  