@use './fonts' as *;
@use './variables' as *;

// SCREEN BREAKPOINTS
@mixin tablet{
    @media screen and (min-width: $tablet-breakpoint){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

//text
//mobile

@mixin m-h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
}
@mixin m-h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
//labels links buttons
@mixin m-h3 {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 500;
}
@mixin m-body {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
}

//tablet and desktop

@mixin td-h1 {
    font-size: 32;
    line-height: 2.5rem;
}
@mixin td-h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}
//labels links buttons
@mixin td-h3 {
    font-size: 1rem;
    line-height: 1.75rem;
}
@mixin td-body {
    font-size: 1rem;
    line-height: 1.75rem;
}



//padding

@mixin m-padding{
    padding-left: 1rem;
    padding-right: 1rem;
}

@mixin t-padding{
    padding-left: 2rem;
    padding-right: 2rem;
}

@mixin d-padding{
    padding-left: 3.9375rem;
    padding-right: 3.9375rem;
}

// buttons
@mixin m-button{
    // height: 2.25rem;
    border-radius: 1.25rem;
    padding: 10px 16px;
}
@mixin td-button{
    // height: 2.375rem;
    border-radius: 1.25rem;
    padding: 10px 16px;
}


@mixin m-main-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 38px;
    padding: 14px 16px;
    background: $light-green;
    color: $green;
    border: none;
    border-radius: 20px;
    margin: 10px 10px;
    @include m-h3;
    img {
      max-height: 18px;
    }

    &:hover,
    :active {
      background-color: $green;
      color: $white;
      img {
        filter: brightness(0) saturate(100%) invert(100%);
      }
    }
  }
