// breakpoint
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// colours
//primary colours
$brown: #333333;
$green: #1C3D37;
$white: #ffffff;


//secondary colours
$light-green: #E6EBE9;
$transparent-green: rgba(230, 235, 233, 0.1)
