@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;

.timer {
  &__intro,
  &__instructions,
  &__select-container,
  &__elapsed-time-container,
  &__description-container {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 500px;
    margin: 0 auto 20px;
  }

  &__select {
    width: 100%;
    max-width: 500px;
  }

  &__description-container{
    textarea {
      padding: 20px; 
      line-height: 1.5; 
      color: $grey;
      
     
      ::placeholder {
        text-align: center; 
        color: $grey;
      }
    }

  }
  &__description {
    height: 100px;
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
    border-color: $grey;
    border-radius: 4px;

    
  }

  &__elapsed-time {
    @include m-h2;
  }

  &__controls {
    display: flex;
    justify-content: center;
  }

  &__btns {
    @include m-main-button;
  }
}
