@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;

.modal {
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $transparent-green;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &__content {
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;

    @include tablet {
      max-width: 672px;
      height: auto;
      border-radius: 3px;
      padding: 20px;
      position: relative;
      padding: 64px 40px;
    }
  }

  &__title {
    padding-bottom: 24px;
  }

  &__btn-container {
    margin-top: auto; 
    width: 100%;
    display: flex;
    justify-content: flex-end;
    @include tablet {
      margin-top: 20px;
      width: auto;
    }
  }

  &__cancel-btn,
  &__delete-btn {
    @include m-button;
    @include m-h3;
    flex: 1 1 auto;
    margin: 10px;
    cursor: pointer;
    @include tablet {
      @include td-h3;
      flex: none;
      margin: 0 10px;
      padding: 10px 20px;
    }
  }

  &__cancel-btn {
    color: $brown;
    background: white;
    border: solid 1px $brown;
    &:hover {
      border: solid 1px $green;
      color: $green;
    }

    @include tablet {
      display: flex;
      align-items: center;
    }
  }

  &__delete-btn {
    background-color: red;
    color: white;
       border: none;
    &:hover {
      background-color: $green;
    }
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
  }

}
