@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;

.entry-form {
  max-width: 31.25rem;
  margin: auto;
  @include m-padding;
  @include tablet{
    @include t-padding;
  }

  &__header{
    display: flex;
    flex-direction: row;
   
  }

  &__back-btn{
    background-color: transparent;
    border: none;
    margin-right: 1rem;
  }
  &__title {
    margin-bottom: 1.25rem; 
    text-align: center;
    @include m-h1;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem; 
    width: 100%; 
    max-width: 31.25rem; 
    margin: auto; 
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem; 
  }

  &__label {
    @include m-h3;
  }

  &__input,
  &__select,
  &__textarea {
    padding: 0.625rem; 
    border: 0.0625rem solid #ccc; 
    border-radius: 0.25rem; 

    &:focus {
      border-color: $brown; 
    }
  }

  &__textarea {
    height: 6.25rem; 
    resize: vertical; 
  }

  &__submit-btn {
    @include m-main-button; 
    margin-top: 1.25rem; 
  }

  &__validation-message{
    color: red; 
    font-size: 0.75rem;
    margin-top: 0.25rem;
  }
}
