@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;


.invoice {
  max-width: 31.25rem;
  margin: auto;
  @include m-padding;
  @include tablet{
    @include t-padding;
  }

  &__header{
    display: flex;
    flex-direction: row;
   
  }

  &__back-btn{
    background-color: transparent;
    border: none;
    margin-right: 1rem;
  }
  &__title {
    @include m-h1;
    text-align: center;
    margin-bottom: 1.25rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    width: 100%;
    max-width: 31.25rem;
    margin: auto;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
 
  }

  &__label {
    @include m-h3;
  }
 
  &__select {
    padding: 0.625rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;

    &:focus {
      border-color: $focus-blue;
    }
  }
  &__terms{
    height: 9.375rem
  }

  &__payment{
    height: 5rem
  }

  &__export-btn {
    @include m-main-button;
    margin-top: 1.25rem;
  }


  &__table{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%; 
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 0.0625rem solid $grey;
    padding: 1.875rem 0;

  }
  &__column{
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    justify-content: center;

  }

  &__column-left{
    margin-right: 1.25rem;

  }

  &__validation-message{
    color: red; 
    font-size: 0.75rem;
    margin-top: 0.25rem;
  }
 
}
