@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.25rem 1rem;
  img {
    max-height: 1.875rem;
  }

  &__link{
    text-decoration: none;
    margin: 0 auto;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  &__link {
    text-decoration: none;
    margin: 1.25rem 0.625rem;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 2.375rem;
    padding: 0.875rem 1rem;
    background: $light-green;
    color: $green;
    border: none;
    border-radius: 1.25rem;
    @include m-h3;
    img {
      max-height: 1.125rem;
    }

    &:hover, :active{
      background-color: $green;
      color: $white;
      img{
        filter: brightness(0) saturate(100%) invert(100%);
      }
      
    }
  }
}
