@use './styles/partials/fonts' as *;
@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'WorkSans';
  }

  h1, h2, h3, h4 {
    font-family: 'PlayfairDisplay';
    color: $brown;
}


p, button, link,  a {
    font-family: 'WorkSans', 'sans serif';
    color: $brown;
}

 input, textarea {
    font-family: 'WorkSans', 'sans serif';
    color: $brown;
    @include m-h3;
    font-weight: 400;
    outline: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

    :focus, :focus-visible{
        border-color: $focus-blue
    }
}

 ::placeholder, select {
    font-family: 'WorkSans', 'sans serif';
    color: $dark-grey;
    @include m-h3;
    font-weight: 400;

    :focus, :focus-visible{
        border-color: $focus-blue
    }
}

