@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;

.entries-page {
  max-width: 65rem;
  margin: auto;
  @include m-padding;
  @include tablet{
    @include t-padding;
  }

  &__title,
  &__description {
    text-align: center;
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    button {
      @include m-main-button;
    }
  }

  &__table-header {
    display: none;
    @include tablet {
      display: contents;
      background-color: $light-green;
      padding: 0.625rem;
      margin-bottom: 0.625rem;
      display: grid;
      grid-template-columns: 3.125rem repeat(7, 1fr) 7.5rem;
      align-items: center;
      gap: 0.625rem;
      margin-top:1.25rem;
    }
  }

  &__validation-message{
    color: red; 
    font-size: 0.75rem;
    margin-top: 0.25rem;
    display: flex;
    justify-content: center;
    @include tablet{
      justify-content: flex-end;
    }
  
  }
}

.entry {
  border-bottom: 0.0625rem solid $grey;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
    display: grid;
    grid-template-columns: 3.125rem repeat(7, 1fr) 7.5rem;
    align-items: center;
    gap: 0.625rem;
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  &__checkbox {
    cursor: pointer;
    accent-color: $focus-blue;
    margin-bottom: 0.75rem;
    @include tablet {
      order: -1;
      margin-bottom: 0;
    }
  }

  &__label {
    display: flex;
    flex: 1;
    @include tablet {
      display: none;
    }
  }

  &__text,
  &__actions {
    flex: 1;
    text-align: left;
    justify-content: space-evenly;

    @include tablet {
      text-align: left;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.25rem 0.625rem;
    gap: 1rem;
    @include tablet {
      justify-content: flex-start;
      display: flex;
      gap: 0.625rem;
    }
  }

  &__invoice-btn {
    background-color: $light-green;
    border: none;
    border-radius: 1.25rem;
    padding: 0.3125rem 0.3125rem;
    font-weight: 500;
    width: 100%;
  }
  &__delete-btn {
    background-color: transparent;
    border: none;
  }
  &__td-heading{
    font-weight: 500;
  }
}
